*{
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;
    color: aliceblue;
}
#container{
    background-image: url("/img/bg4.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    opacity: 0.85;
}

/* Navigation Bar */
#nav-head{
    height: 75px;
    background-color: black; 
    opacity: 0.6;
    padding: 10px;
    display: flex;
    /* align-items: center; */
}
#nav{
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    /* margin: 25px; */
}
.nav-item{
    /* display: flex; */
    list-style: none;
    font-size: 1.3rem;
    /* float: right; */
    /* padding: 5px; */
}
.nav-item a{
    padding: 50px;
    text-decoration: none;
    margin-bottom:15px;
    /* color: aliceblue; */
}
.nav-item :hover{
    color:rgb(10, 194, 10);
}
.nav-item a img{
    color: aliceblue;
}
#nav-home{
    list-style-type: none;
    width: 50%;
    /* float: left; */
}
#nav-home img{
    height: 55px;
}
/* #nav-home img:hover{
    height: 75px;
} */

/* Search Bar */
#container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: aliceblue; */
    font-size: 4rem;
    margin-top: 80px;
}
#searchdiv{
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#searchdiv input{
    background-image: url(/img/search16.png);
    background-repeat: no-repeat;
    background-position:10px 10px ;
}
#searchbar{
    margin: 45px;
    width: 300px;
    border-radius: 8px;
    color:black;
    border-color: transparent;
    padding: 10px;
    padding-left: 35px;
    outline: none;
    /* opacity: 0.8; */
}


/* Main Section */
#main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-x: scroll; */
    /* padding: 20px; */
    /* background-color: lightgray ;    */
}
/* #main::-webkit-scrollbar { This helps in hiding the scroll bar
    display: none;
  } */
.card{
    border: 1px solid lightgray; 
    /* padding: 10px; */
    margin: 20px;
    border-radius: 12px;
    width: 350px;
    /* height: 300px; */
    /* transition: width 2s; */
}
.card:hover {
    /* border-color: lightgray; */
    box-shadow: 2px 2px lightblue;
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
}

.card a{
    text-decoration: none;
}
.card p, .card h4{
   color: black;
   margin: 4px;
   padding: 5px;
}
 /* .card > img{ to keep the image inside the border  
    width: 100%;
} */
 .card a img{
    width: 351px;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

/* Footer */
footer{
    margin-top: 100px;
    height: 200px;
    background-color: black;
    opacity: 0.6;
    /* background-color: rgb(233, 233, 233); */
    /* color:black; */
}

#footvalue{
    text-align: center;
    padding: 30px;
    list-style: none;
}

#foot p, #foot hr{
    margin:30px;
}
