body{
    /* background-image: url(/img/bg4.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}
#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    border: 3px solid black;
    /* width: auto; */
    /* opacity: 0.8; */
}
.form-grp{
    margin: 20px;
}